*
{
margin: 0;
padding: 0;
}

#nav-bar
{
position: sticky;
top: 0;
z-index: 10;
}

.navbar-brand{
    height: 40px;
    padding-left: 30px;
    font-family: "Lato", Arial, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white!important;
}

.navbar-nav li
{
padding: 0 10px;
}

.navbar-nav li a
{
float: right;
text-align: left;
}

#nav-bar ul li a:hover
{

    color:#00BFFF!important;
}

.navbar
{
background: black;
}

.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    color: white!important;
    font-weight: 600;
    font-size: 16px;
}

#slider
{
    width: 100%;
}
  
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
   }

   .about-content
   {
       padding-top: 20px;

   }

   .about-leftcontent
   {
       padding-top: 10px;

   }

   .photo-bar
   {
       margin-bottom: 6px;
       font-weight: 600;

   }

   .left-bar{
       border-radius: 16px;
       padding-top: 20px;
   }
   
   .left
   {
       border-radius: 16px !important;
       margin-bottom: 20px ;
   }

   .center {
  text-align: center;
  color: #DC143C;
}


   #gallery
   {
       padding-top: 50px;
       padding-bottom: 50px;
       color: black;
   }

   h1
   {
     text-align: center;
     color: black!important;
     padding-bottom: 10px;
   }

   h1::after
   {
     content: '';
     background: #007bff;
     display: block;
     height: 3px;
     width: 170px;
     margin: 10px auto 2px;
 }

 .profile-pic
 {
     margin-top: 25px;
 }

 .profile-pic .img-box
 {
     opacity: 1;
     display: block;
     position: relative;
 }

 .profile-pic .img-box img
 {
    filter: grayscale(0);
 }

 .profile-pic .img-box img:hover
 {
    filter: grayscale(1);
    cursor: pointer;
 }

 .profile-pic h2{
     font-size: 22px;
     font-weight: bold;
     margin-top: 15px;
 }

 #gallery .fa
 {
     height: 25px;
     width: 25px;
     background: #fff;
     padding:4px;
     border-radius: 50%;
}

#testimonials
{
    padding-top:50px;
    padding-bottom: 50px;
}

#testimonials .row
{
    margin-top: 30px;
}

.col-md-4
{
    margin:40px auto;
}

.profile 
{
padding: 70px 10px 10px;
background-color:  #efefef;
}

.user
{
width:120px;
height: 120px;
border-radius: 50%;
}

.profile img
{
  top: -60px;
  position: absolute;
  left: calc(50% - 60%);
  border: 10px solid #fff ;
}

.profile h3
{
  font-size: 20px;
  margin-top: 15px;
  color: #007bff;
}

#testimonials span{
    font-size: 12px;
    color: #333;
}

.blockquote
{
    font-size: 16px;
    line-height: 30px;
}

.blockquote::before{
    content: '\93';
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height:20px ;
    bottom: -15px;
    right: 5px;
}

.blockquote::after{
    content: '\94';
    font-size: 50px;
    color: #007bff;
    position: relative;
    line-height:10px ;
    bottom: -15px;
    right: 5px;
}

.profile:hover
{
    box-shadow:0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}

#contact
{
    background-image: linear-gradient(rgba(0,0,0,0.8),
    rgba(0, 0, 0, 0.8)), url(images/banner.jpg);
    padding-top: 40px;
    padding-bottom: 40px;
    color: #efefef!important;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h4
{
  text-align: center;
  color: white!important;
  padding-bottom: 10px;
}

h4::after
{
  content: '';
  background: #007bff;
  display: block;
  height: 3px;
  width: 170px;
  margin: 10px auto 2px;
}

.contact-form
{
    padding: 15px;
    background: black;
}

.form-control
{
    border-radius: 0!important;
    border: none !important;
}

::placeholder{
    color: #999 !important;
    
}

.follow
{
    background: black;
    padding: 10px;
    margin: 15px;
}

.contact-info .fa
{
margin:10px;
color: #007bff;
font-weight: bold;
}

#footer
{
    background: black;
    color: white;
    padding:12px;
}